* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    background-color: black;
    max-width: 1500px;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
    height: 60px;
    background-color: #1f2937;
}

nav .left a {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
}

nav .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

nav .right li {
    list-style-type: none;
}

nav .right li a {
    color: #e5e7eb;
}

/* SECTION 1: Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 250px;
    background-color: #1f2937;
}

.hero .left h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 350px;
}

.hero .left p {
    font-weight: 300;
    font-size: 18px;
    color: #F9FAF8;
    width: 450px;
    margin-bottom: 10px;
}

.hero .left button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
    font-size: 14px;
    font-weight: 600;
    color: #F9FAF8;
}

.hero .right img {
    height: 100%;
    width: auto;
}

/* SECTION 2: Info */
.info {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 250px;
}

.info h2 {
    font-size: 30px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.info .articles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 85%;
    margin-bottom: 50px;
}

.info .articles article {
    width: 150px;
}

.info .articles article img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.info .articles article p {
    text-align: center;
}

/* SECTION 3: Quote */
.quote {
    background-color: #E5E7EB;
    padding: 100px 250px;
}

.quote p {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    width: 65%;
    margin: 0 auto;
    color: #1f2937;
}

.quote span {
    display: block;
    width: 65%;
    margin: 0 auto;
    text-align: end;
    font-weight: 900;
    font-size: 18px;
}

/* SECTION 4: Sign up */
.sign-up-wrapper {
    padding: 100px 250px;
    background-color: #F9FAF8;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 35px 150px;
    height: 150px;
    border-radius: 5px;
}

.sign-up .left h3 {
    color: #F9FAF8;
    font-size: 22px;
}

.sign-up .left p {
    color: #F9FAF8;
    font-size: 16px;
}

.sign-up .right button {
    border: 2px solid #F9FAF8;
    border-radius: 7px;
    font-size: 16px;
    padding: 5px 25px;
    background-color: transparent;
    color: #F9FAF8;
}